@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: pop-gothic-cjktc;
  src: url("https://cdn.jsdelivr.net/gh/max32002/pop-gothic@2.141/webfont/CJK%20TC/PopGothicCjkTc-Regular.woff2")
    format("woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: pop-gothic-cjktc;
  background-color: #000;
  //font-family: Firebug, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    height: 100vh;
  }
}
